body {
    background-color: rgb(234, 208, 191);
    font-family: "Gowun Dodum", sans-serif;
    width: 100%;
    height: 100vh; /* 뷰포트 높이 전체 */
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    margin: 0;
}

.tab_menu {
    justify-content: space-between; /* 탭 간 간격 */
}

a {
    color: black;
}

.wrap {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    width: 100%;
}

.list {
    display: flex;
    padding: 30px 60px;
    width: 10%;
    cursor: pointer;
    margin-top: 40px;
}

/* 탭 제목 */
.btn {
    font-size: 26px;
}

/* 탭 */
li {
    list-style: none;
    margin-right: 60px;
    width: 200px;
}

/* 내용 */
.content {
    display: none;
    align-items: center;
}

/* 입력칸 제목 */
p {
    font-size: 20px;
}

/* 입력칸 */
input {
    width: 200px;
    height: 25px;
}

/* 전송 버튼 (기본적으로 숨김) */
.submit {
    display: none;
    margin-top: 40px;
}

/* 선택된 탭의 전송 버튼 */
.is_on .submit {
    padding: 5px 10px;
    display: block;
}

/* 선택된 탭의 버튼 스타일 */
.is_on .btn {
    font-weight: bold;
    color: rgb(255, 72, 6);
}

/* 선택된 탭의 내용 표시 */
.is_on .content {
    display: block;
}

/* 비밀번호 표시/숨기기 버튼 */
.toggle-password {
    background-color: thistle;
    border: none;
    cursor: pointer;
    font-size: 16px;
}