/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 페이지 레이아웃 */
body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

/* 제목 */
.title {
    margin-bottom: 20px;
}

/* 입력 박스 */
.input-box {
    display: flex;
    justify-content: space-between;
    width: 500px;
    height: 25px;
    margin-bottom: 10px;
}

/* 입력 필드 */
.todo-input {
    width: 450px;
    border: 2px solid #000;
}

/* 우선순위 선택 */
.priority-select {
    width: 100px;
    border: 2px solid #000;
    background-color: #fff;
    margin-right: 5px;
}

/* 추가 버튼 */
.add-btn {
    position: relative;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    cursor: pointer;
}

/* 추가 버튼의 + 기호 */
.add-btn::after {
    position: absolute;
    display: inline-block;
    top: -1px;
    left: 2px;
    font-size: 25px;
    content: "\002B";
}

/* 할 일 박스 */
.todo-box {
    width: 500px;
    height: 400px;
    padding: 10px;
    border: 2px solid #000;
    background-color: #eee;
}

/* 할 일 항목 */
.new-todo {
    display: block;
    position: relative;
    height: 25px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    line-height: 25px;
}

/* 숨겨진 체크박스 */
.new-todo input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
}

/* 체크 마크 */
.check-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    border: 2px solid #000;
    background-color: #fff;
}

/* 체크 마크의 체크 표시 */
.new-todo .check-mark::after {
    display: none;
    position: absolute;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid rgb(5, 4, 4);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    content: "";
}

/* 체크된 상태의 체크 마크 배경색*/
.new-todo input:checked ~ .check-mark {
    background-color: #f7f3f3;
}

/* 체크된 상태의 체크 표시 */
.new-todo input:checked ~ .check-mark::after {
    display: block;
}

/* 체크된 상태의 텍스트 스타일 */
.check {
    text-decoration: line-through;
}

/* 삭제 버튼 */
.rm-btn {
    position: absolute;
    right: 5px;
    top: 0;
    border: #eee;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
}

/* 삭제 버튼의 × 기호 */
.rm-btn::after {
    content: "\00d7";
}

/* 삭제 버튼의 호버 상태 */
.rm-btn:hover {
    color: red;
}

/* 우선순위에 따른 스타일 */
.new-todo.low .check-mark {
    border-color: green;
}

.new-todo.medium .check-mark {
    border-color: orange;
}

.new-todo.high .check-mark {
    border-color: red;
}

/* 우선순위에 따른 배경색 */
.new-todo.low {
    border-left: 5px solid green;
}

.new-todo.medium {
    border-left: 5px solid orange;
}

.new-todo.high {
    border-left: 5px solid red;
}
